/* Homepage */
body {
    font-family: 'Roboto', sans-serif;
    background: #1f1f1f;
}

p {
    margin-bottom: 1.2rem;
}

.icon {
    font-family: 'Quicksand', sans-serif;
}

a {
    color: #ededed;
}

a:hover, #socialIcons a:hover {
    color: #9b30ff;
    text-decoration: none;
    cursor: pointer;
}

.container {
    padding-right: 25px;
    padding-left: 25px;
}

.backgroundBlack {
    background: #1f1f1f;
}

#socialMediaDiv {
    color: #ededed;
    display: flex;
    justify-content: flex-end;
    min-height: 20px;
}

#socialIcons {
    min-width: 60px;
}

#socialIcons a {
    color: #ededed;
}

#socialIcons i {
    margin-right: 10px;
}

#bgED {
    background: #ededed;

}

#logo {
    max-width: 60px;
    transition: .1s ease-in-out;
}

#logo:hover {
    transform: scale(1.02);
}

#est {
    color: rgba(0, 0, 0, .5);
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background: #ededed;
}

.show {
    background: #ededed;
}

#navbarMenu {
    display: flex;
    justify-content: space-between;
}

#navbarMenu button, #navbarMenu button:focus, #navbarMenu button:active {
    border: none;
}

.nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.dropdown-item:active {
    background: #9b30ff;
}

#mainImg {
    width: 100%;
}

.whiteBG {
    background: #333;
    color: #ededed;
}

#leagueNote, #cast, #vid, #sponsor {
    background: #9b30ff;
    color: #ededed;
    padding: 5px 10px;
    border-radius: 4px;
    /* margin-top: 1rem; */
}

#leagueNote i, #cast i, #vid i, #sponsor i {
    margin-right: 5px;
}

#claws, #arbys {
    width: 100%;
}

#tobble, #othTobble, #tobble3 {
    width: 100%;
}

footer {
    background: #1f1f1f;
    color: #ededed;
    display: flex;
    width: 100%;
}

#whiteLogo {
    width: 40px;
}

#castVid {
    width: 100%;
}

#read-more {
    background: #333;
}

#read-more-link {
    font-size: .8rem;
    text-decoration: underline;
}

/* Menu Page */
.background {
    background: url(../images/menubg.jpg) center top / cover no-repeat fixed;
    background-position: center top;
}

.menuContainer {
    border-left: 10px solid #222;
    border-right: 10px solid #222;
    padding: 0px 25px;
    background: rgba(252, 216, 42, 0.9);
}

#crestLogo {
    display: flex;
    justify-content: center;
}

#menulogo {
    height: 260px;
    width: 300px;
}

.header {
    text-align: center;
    font-family: "Gentium Book Basic", serif;
}

#menuTitle {
    font-size: 3em;
    color: #222;
}

.decorative {
    font-family: "Great Vibes", cursive;
    margin-right: 2px;
}

#signature {
    width: 300px;
}

.curlsDiv {
    display: flex;
    justify-content: center;
}

.curls {
    height: 100px;
    width: 300px;
}

#entrees {
    font-family: 'Playfair Display', serif;
}

.sectionTitle {
    margin-bottom: 4em;
}

.sectionTitle h6 {
    font-style: italic;
}

.menuItem {
    margin-bottom: 4em;
}

.menuItem h2 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.3em;
    font-weight: 700;
}

.menuItem p {
    font-size: 1em;
    text-align: center;
}

#greggy {
    color: #222;
    font-size: 14px;
    margin-left: 8px;
    transition: all .3s ease-in-out;
}

#greggy:hover {
    transform: scale(1.3);
}

.menuh1 {
    font-family: 'Playfair Display', serif;
}

.menuh6 {
    font-size: 18px;
}

.font {
    font-family: 'Playfair Display', serif;
}

.menufont {
    font-family: "Lora", serif;
    font-size: 1.3em;
}

/* Media Queries */
@media screen and (max-width: 812px) {
    #socialMediaWrapper {
        display: none;
    }
    #est {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    #logo {
        max-width: 50px;
    }
}